extends layout

append head

append body
    .container-fluid
        h1 修改地址
            a.btn.btn-primary.pull-right(href="/xiaoxiong/addr/#{open_id}") 返回地址列表
        form#edit-addr-form(role="form")
            input(type="hidden", name="open_id", value="#{open_id}")
            input(type="hidden", name="addr_id", value="#{addr._id}")
            .form-group
                label(for="userName") 收货人
                input.form-control(type="text", name="userName", value="#{addr.userName}", data-warning="请填写收货人", required)
            .form-group
                label(for="telNumber") 电话
                input.form-control(type="tel", name="telNumber", value="#{addr.telNumber}", data-warning="请填写电话", required)
            .form-group
                label(for="addressCitySecondStageName") 市
                input.form-control(type="text", name="addressCitySecondStageName", value="#{addr.addressCitySecondStageName}", disabled)
            .form-group
                label(for="addressCountiesThirdStageName") 区
                select.form-control(name="addressCountiesThirdStageName")
                    - each stageName in addressCountiesThirdStageName
                        - if (addr.addressCountiesThirdStageName === stageName)
                            option(value="#{stageName}", selected) #{stageName}
                        - else
                            option(value="#{stageName}") #{stageName}
            .form-group
                label(for="addressDetailInfo") 详细地址
                input.form-control(type="text", name="addressDetailInfo", data-warning="请填写详细地址", value="#{addr.addressDetailInfo}", required)
            button.btn.btn-primary.btn-block(type="submit", data-loading-text="提交中...") 提交修改

append script
    script(src="/xiaoxiong/js/edit_addr.js")