extends layout

append head

append body
    .container-fluid
            h3(data-openid="#{user_open_id}") 今日菜谱
            - if (menu)
                - each recipe in menu.recipes
                    .panel.panel-default
                        .panel-heading #{recipe.title}
                        .panel-body
                            a(href="/xiaoxiong/recipes/#{recipe._id}/user/#{user_open_id}")
                                img.img-rounded.img-responsive(src="#{recipe.thumbnail}")
                        .panel-footer.clearfix
                            span.label.label-info.pull-left 现价：#{(recipe.price / 100).toFixed(2)} 元
                            button.btn.btn-primary.btn-sm.pull-right  加入购物车
            - else
                .alert.alert-warning 今日暂无供应
append script