extends layout

append head

append body
    .container-fluid
        h3(data-openid="#{user_open_id}") 我的订单
        - if (!orders || orders.length < 1)
            .alert.alert-warning 没有订单
        - else
                - each order in orders
                    .panel.panel-default
                        .panel-heading
                            h4.clearfix #{order.create_date}
                                span.label.label-primary.pull-right #{order.status} 
                        .panel-body
                            p 收货人：#{order.addr.name} #{order.addr.tel}

                            p
                                - each recipe in order.recipes
                                    span.gap-right #{recipe.title} 
                        .panel-footer.clearfix
                            span.pull-left.label.label-info 总计：#{(order.price / 100).toFixed(2)} 元
append script