extends layout

append head
append body
    .navbar.navbar-inverse
        .container
            include header
            +header({"2" : "active"})
    .container
        .page-header
            h3 修改推荐列表
                a.btn.btn-primary.pull-right(href="/xiaoxiong-admin/menus") 返回所有推荐列表
        .row
            .col-md-6
                ul.nav.nav-tabs.nav-justified.gap-bottom
                    li.active
                        a(href="#new-product",  data-toggle="tab") 最新添加
                    li
                        a(href="#modify-product",  data-toggle="tab") 最新修改
                    li
                        a(href="#search-product",  data-toggle="tab") 搜索
                .tab-content
                    #new-product.tab-pane.active
                        .list-group
                            - each product in newest_products
                                li.list-group-item.clearfix
                                    img.img-thumbnail.pull-left.thumbnail_in_list.gap-right(src="#{product.thumbnail}")
                                    .pull-left
                                        h5 #{product.title}
                                        span.label.label-default.gap-right 原价： #{(product.original_price / 100).toFixed(2)} 元
                                        span.label.label-info 现价：#{(product.price / 100).toFixed(2)} 元
                                    .pull-right
                                        button.btn.btn-default.select-product-btn(data-id="#{product._id}") 选择
                                    .pull-right
                                        button.btn.btn-default.set-top-product-btn(data-id="#{product._id}") 推荐
                    #modify-product.tab-pane
                        .list-group
                            - each product in modify_products
                                li.list-group-item.clearfix
                                    img.img-thumbnail.pull-left.thumbnail_in_list.gap-right(src="#{product.thumbnail}")
                                    .pull-left
                                        h5 #{product.title}
                                        span.label.label-default.gap-right 原价： #{(product.original_price / 100).toFixed(2)} 元
                                        span.label.label-info 现价：#{(product.price / 100).toFixed(2)} 元
                                    .pull-right
                                        button.btn.btn-default.select-product-btn(data-id="#{product._id}") 选择
                                    .pull-right
                                        button.btn.btn-default.set-top-product-btn(data-id="#{product._id}") 推荐
                    #search-product.tab-pane
                        .input-group.gap-bottom
                            input#search-input.form-control(type="text", placeholder="产品标题")
                            span.input-group-btn
                                button#search-product-btn.btn.btn-default 搜索
                        .list-group
            .col-md-6
                form#edit-menu-form(role="form", method="put", action="/xiaoxiong-admin/menus/#{menu._id}")
                    .form-group
                        label(for="title") 名称
                        input.form-control(type="text", name="title", value="#{menu.title}", required)
                    .form-group
                        label(for="description") 描述
                        textarea.form-control(name="description") #{menu.description}
                    .form-group
                        label(for="cover_img") 封面图片
                        input#fileupload.form-control(type="file", value="", name="cover", data-url="/xiaoxiong-admin/upload/cover")
                        input#fileupload_url(type="hidden", name="cover_img", value="#{menu.cover_img}")
                        img#fileupload_preview.img-responsive(src="#{menu.cover_img}")
                    .form-group
                        label(for="publish_date") 日期
                        input.form-control(type="date", name="publish_date", value="#{menu.publish_date}", required)
                    #top-products-input.form-group
                        label(for="top") 推荐
                        - each top_product in menu.top
                            input(type="hidden", name="top", value="#{top_product._id}")
                    #top-products.list-group
                        - each top_product in menu.top
                            li.list-group-item.clearfix
                                img.img-thumbnail.pull-left.thumbnail_in_list.gap-right(src="#{top_product.thumbnail}")
                                .pull-left
                                    h5 #{top_product.title}
                                    span.label.label-default.gap-right 原价： #{(top_product.original_price / 100).toFixed(2)} 元
                                    span.label.label-info 现价：#{(top_product.price / 100).toFixed(2)} 元
                                .pull-right
                                    button.btn.btn-default.remove-product-btn(data-id="#{top_product._id}") 删除
                    #selected-products-input.form-group
                        label(for="product") 产品
                        - each product in menu.products
                            input(type="hidden", name="product", value="#{product._id}")
                    #selected-products.list-group
                        - each product in menu.products
                            li.list-group-item.clearfix
                                img.img-thumbnail.pull-left.thumbnail_in_list.gap-right(src="#{product.thumbnail}")
                                .pull-left
                                    h5 #{product.title}
                                    span.label.label-default.gap-right 原价： #{(product.original_price / 100).toFixed(2)} 元
                                    span.label.label-info 现价：#{(product.price / 100).toFixed(2)} 元
                                .pull-right
                                    button.btn.btn-default.remove-product-btn(data-id="#{product._id}") 删除
                    button.btn.btn-primary.btn-block(type="submit") 修改


append script
    script(src="/vendor/jquery.ui.widget.js")
    script(src="/vendor/jquery.iframe-transport.js")
    script(src="/vendor/jquery.fileupload.js")
    script(src="/xiaoxiong/admin/js/menu_edit.js")        