extends layout

append head

append body
    .navbar.navbar-inverse
        .container
            include header
            +header({"3" : "active"})
    .container
        .page-header
            h3 订单详情  
                em #{order._id}
                a.btn.btn-primary.pull-right(href="/xiaoxiong-admin/orders") 返回所有订单
                .change_order_status_btn_group.btn-group.pull-right.gap-right
                    button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown")
                        | 修改收款状态
                        span.caret
                    ul.dropdown-menu(role="menu", data-name="pay")
                        li
                            a(href="0") 未付款
                        li
                            a(href="1") 已付款
                        li.divider
                        li
                            a(href="2") 申请退款
                        li
                            a(href="3") 退款中
                        li
                            a(href="4") 退款完成
                .change_order_status_btn_group.btn-group.pull-right.gap-right
                    button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown")
                        | 修改订单状态
                        span.caret
                    ul.dropdown-menu(role="menu", data-name="status")
                        li
                            a(href="1") 已提交
                        li
                            a(href="2") 已确认
                        li.divider
                        li
                            a(href="3") 正在采购
                        li
                            a(href="4") 采购完成
                        li.divider
                        li
                            a(href="5") 正在配货
                        li
                            a(href="6") 配送中
                        li
                            a(href="7") 配送完成
                        li.divider
                        li
                            a(href="0") 取消订单
        .panel.panel-default
            .panel-heading 订单信息
            .panel-body
                .well
                    | #{order.addr.userName} #{order.addr.telNumber}
                    br
                    | #{order.addr.addressCitySecondStageName} #{order.addr.addressCountiesThirdStageName} #{order.addr.addressDetailInfo}
                ul
                    - each product in order.products
                        li
                            a(href="/xiaoxiong-admin/products/#{product.product_id}") #{product.title} x #{product.amount}
            table.table
                tr
                    th 总金额
                    th 付款状态
                    th 订单状态
                    th 下单时间
                tr
                    td 
                        strong.text-danger #{(order.price / 100).toFixed(2)}元
                    td #{order.pay_name}
                    td #{order.status_name}
                    td #{order.create_time}
                
append script
    script(src="/xiaoxiong/admin/js/order_info.js")