extends layout

append head

append body
    .navbar.navbar-inverse
        .container
            include header
            +header({"3" : "active"})
    .container
        .page-header
            h3 所有订单
        .panel.panel-default
            .panel-heading 订单列表
                span.badge.pull-right #{current_page} / #{total_page}
            table.table
                tr
                    th 订单号
                    th 下单日期
                    th 收货人
                    th 产品
                    th 收款状态
                    th 订单状态
                - each order,index in orders
                    tr
                        td 
                            a(href="/xiaoxiong-admin/orders/#{order._id}", title="点击查看订单详情") #{order._id}
                        td #{order.create_time}
                        td #{order.addr.userName} #{order.addr.telNumber}
                        td
                            - each product in order.products
                                | #{product.title} X #{product.amount} <br/>
                        td #{order.pay}
                        td #{order.status}
                        
        ul.pager
            - if (current_page === 1)
                li.previous.disabled
                    a(href="#") 上页
            - else
                li.previous
                    a(href="?page=#{current_page - 1}") 上页
            - if (total_page === current_page) 
                li.next.disabled
                    a(href="#") 下页
            - else
                li.next
                    a(href="?page=#{current_page + 1}") 下页

append script