extends layout

append head
append body
    .navbar.navbar-inverse
        .container
            include header
            +header({"1" : "active"})
    .container
        .page-header
            h3 #{product.title}
                a.btn.btn-primary.pull-right(href="/xiaoxiong-admin/products") 返回所有产品
                a.btn.btn-default.pull-right.gap-right(href="/xiaoxiong-admin/products-edit/#{product._id}") 编辑此产品
        ol.breadcrumb
            - each type, index in types
                li
                    a(href="/xiaoxiong-admin/product-types/#{type._id}") #{type.title}
        img.thumbnail_in_info.center-block.img-thumbnail(src="#{product.thumbnail}")
        p
            span.label.label-default.gap-right  原价： #{(product.original_price / 100).toFixed(2)} 元
            span.label.label-info  现价：#{(product.price / 100).toFixed(2)} 元
        .panel.panel-default
            .panel-body
                !{product.content}
append script

